div.shop {
    display: flex;
}
body {
    font-family: Tahoma, sans-serif;
    margin: 0;
	padding: 0;
}
body a:hover {
    text-decoration: none;
}
form.search {
    position: absolute;
    top: 50px;
    left: 600px
}
#search {
    height: 34px;
    width: 300px;
    padding: 15px;
    background-color: #F0F0F0;
    outline: none;
    border: 1px solid #00bbb3;
    border-right: none;
    border-radius: 999px 0px 0px 999px;
}
#button {
    height: 34px;
    width: 50px;
    border: 1px solid #00bbb3;
    border-left: none;
    border-radius: 0px 999px 999px 0px;
}
div.shop a.basket {
    position: absolute;
    top: 20px;
    right: 100px;
}
form.search .icon-search:hover{
    background-color: #28a745;
}
#search:hover{
    background-color: white;
}
#nav {
    background-color: #00bbb3;
    position: fixed;
    width: 100%;
    max-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.nav li {
    position: relative;
    display: inline-block;
}
.nav li:hover{
    background-color: #fa9e14;
    color: white;
}
.nav li:active{
    background-color: red;
    color: white;
}
.nav li a {
    padding: 0 15px;
    line-height: 40px;
    display: inline-block;
    letter-spacing: .02em;
    font-size: .8em;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
    font-weight: 600;
}
.nav div .dropdown-item {
    color: black;
}

#slider{
    position: relative;
    width: 100%;
    height: 500px;
    margin-top: 40px;
    animation-name: slide-animation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.slider-images{
    position: absolute;
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

@keyframes slide-animation {
    0% {
        background: url('../img/slider0.jpg') top center / cover no-repeat;
    }
    20% {
        background: url('../img/slider1.jpg') top center / cover no-repeat;
    }
    40% {
        background: url('../img/slider3.jpg') top center / cover no-repeat;
    }
    60% {
        background: url('../img/mypham.jpg') top center / cover no-repeat;
    }
    80% {
        background: url('../img/dochoi.jpg') top center / cover no-repeat;
    }
    100% {
        background: url('../img/2018-09-12.jpg') top center / cover no-repeat;
    }
}

.ti-arrow-circle-up {
    font-size: 45px;
    background-color: tomato;
    color: #fff;
    border-radius: 100%;
    opacity: 0.7;
    position: fixed;
    right: 20px;
    bottom: 40px;
}
.ti-arrow-circle-up:hover {
    background-color: #00bbb3;
    text-decoration: none;
    opacity: 1;
}
#content{
    margin-top: 100px;
}