* {
    margin: 0;
	padding: 0;
    box-sizing: border-box;
}
html {
    font-family: Tahoma, sans-serif;
}
a{
    text-decoration: none;
}
body a:hover {
    text-decoration: none;
}
div.shop {
    position: relative;
}
div.shop a.logo{
    position: relative;
    left: 15%;
}
form.search {
    position: absolute;
    display: flex;
    top: 40%;
    left: 45%;
}
#search {
    height: 34px;
    width: 300px;
    padding: 15px;
    background-color: #F0F0F0;
    outline: none;
    border: 1px solid #00bbb3;
    border-right: none;
    border-radius: 999px 0px 0px 999px;
}
#button {
    height: 34px;
    width: 50px;
    border: 1px solid #00bbb3;
    border-left: none;
    border-radius: 0px 999px 999px 0px;
}
div.shop a.basket {
    position: absolute;
    top: 30%;
    right: 10%;
}
form.search .icon-search:hover{
    background-color: #28a745;
    cursor: pointer;
}
#search:hover{
    background-color: white;
}
#nav {
    background-color: #00bbb3;
    position: absolute;
    width: 100%;
    max-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: all 0.5s ease-in-out;
}
#nav ul{
    list-style: none;
}
#nav > ul > li{
    display: inline-block;
}
#nav li{
    position: relative;
}
#nav .subnav{
    display: none;
    position: absolute;
    min-width: 100%;
    top: 100%;
    left: 0;
    background-color: #fff;
    border-radius: 0.25rem;
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav .subnav a{
    white-space: nowrap;
    color: black;
    text-align: center;
    font-size: .75em;
    
}
#nav li:hover{
    background-color: #fa9e14;
    color: white;
}
#nav li:hover .subnav{
    display: block;
}
#nav li:active{
    background-color: red;
    color: white;
}
#nav li a {
    padding: 0 15px;
    line-height: 40px;
    display: block;
    letter-spacing: .02em;
    font-size: .8em;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
}
#nav.sticky{
    position: fixed;
    opacity: 0.9;
    top: 0px
}

#slider{
    position: relative;
    width: 100%;
    padding-top: 35%;
    margin-top: 40px;
    animation-name: slide-animation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#slider img{
    width: 25%;
    border-radius: 100%;
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.text-slider {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    bottom: 10px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

@keyframes slide-animation {
    0% {
        background: url('../img/slider0.jpg') top center / cover no-repeat;
    }
    20% {
        background: url('../img/slider1.jpg') top center / cover no-repeat;
    }
    40% {
        background: url('../img/slider3.jpg') top center / cover no-repeat;
    }
    60% {
        background: url('../img/mypham.jpg') top center / cover no-repeat;
    }
    80% {
        background: url('../img/dochoi.jpg') top center / cover no-repeat;
    }
    100% {
        background: url('../img/2018-09-12.jpg') top center / cover no-repeat;
    }
}

.fa-circle-chevron-up {
    font-size: 45px;
    background-color: tomato;
    color: #fff;
    border-radius: 100%;
    opacity: 0.7;
    position: fixed;
    right: 20px;
    bottom: 40px;
    z-index: 1000;
}
.fa-circle-chevron-up:hover {
    background-color: #00bbb3;
    color: lightgrey;
    text-decoration: none;
    opacity: 1;
}
#content{
    margin-top: 100px;
}
.container{
    margin: 0px 40px;
}